body {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

/*      HEADER       */

#header h1 {
    position: fixed;
    text-align: center;
    background-color: rgb(96, 111, 133);
    top: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    z-index: 500;
    width: 100%;
    height: 80px;
    margin-top: 1px;
    padding-top: 15px;
}

/*     TABS-TOP      */

#tabs-top {
    position: fixed;
    top: 95px;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 40px;
    background-color: rgb(188, 191, 195)
}


#tabs-top a {
    float: left;
    display: block;
    width: 50%;
    height: 35px;
    font-weight: 700;
    color: black;
    text-align: center;
    text-decoration: none;
    padding-top: 10px;
}

#cars-home {
    margin-top: 215px;
}

.heading {
    text-align: center;
    background-color: rgb(96, 111, 133);
    top: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    z-index: 500;
    width: 100%;
    height: 80px;
    margin-top: 25px;
    padding-top: 15px;
}

/*     INFO_FULL   */

#info-full {
    background-color: rgba(168, 176, 188, 0.8);
    width: 99%;
    height: auto;
    min-height: fit-content;
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

#info-full p {
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: 500;
    padding: 15px;
    text-align: justify;
}

/*     IMAGES  */

#images {
    display: flex;
    justify-content: space-evenly;
}

#images img {
    width: 25%;
    height: 300px;
    border-radius: 10px;
}

#images img:hover {
    transform: scale(1.5);
    z-index: 500;
}

#images img:last-child:hover {
    transform-origin: right center;
}

#images img:first-child:hover {
    transform-origin: left center;
}


/*     ABOUT  */

#contact h3 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

#contact input {
    background-color: rgba(168, 176, 188, 0.8);
    width: 500px;
    height: 15px;
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 15px;
}

#contact textarea {
    background-color: rgba(168, 176, 188, 0.8);
    width: 500px;
    height: 80px;
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: solid 2px black;
    padding: 15px;
}

#contact a {
    background-color: rgba(168, 176, 188, 0.8);
    width: 80px;
    height: 25px;
    display: block;
    margin: auto;
    border-radius: 10px;
    border: solid 2px black;
    padding-left: 13px;
    padding-top: 7px;
    text-decoration: none;
    color: black;
}

#info h3 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

#info ul {
    list-style-type: none;
    text-align: center;
}

#info a {
    text-decoration: none;
    color: black;
}

#thank-you-message {
    margin-top: 200px;
    width: 100%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}

/*     CARS */
.accordion {
    background-color: rgb(188, 191, 195);
    color: black;
    cursor: pointer;
    padding: 2px;
    width: 99%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 40px;
    transition: 0.4s;
    margin-bottom: 30px;
}

.panel {
    padding: 2px;
    display: none;
    background-color: rgb(188, 191, 195);
    overflow: hidden;
    margin-bottom: 20px;
}

.active,
.accordion:hover {
    background-color: rgb(140, 154, 172);
}